Group project: Task 1 step 1-6

In [4]:
import pandas as pd


df = pd.read_csv('/Users/renatosibillot/Machine Learning with Python/group-project-task-1-part-a/repository/iris/iris.data')
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
#Step 2

df['binary_class'] = df['class'].map({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 1})

In [7]:
#Step 3

df.describe()

#the dataset has no missing values, and we don't need to perform any particular data transformation

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

Step 4

Business setting :
We are a flower market and we need to sort the flowers that we get from the suppliers.

So between : Iris-setosa (0) or others (1)

Step 5

Iris setosa is the product we sell at the highest price so we need to identify it.
A false positive would mean that we are classifying another iris as a setosa (0).
A false negative would mean not recognising the iris setosa when we should have. 

The consequences of a false positive would be damaging our relationship with the client because the product is not what we announced.
The consequences of a false negative would mean a loss of revenue (setose is our best product and the selling price of is higher than the other iris flowers we sell)

Damaging relationship with the customer can make us lose business on a long term scale, so we want to weight FP two times:

FP = FN * 2

selling price:
setosa = 10
other iris = 8

In [12]:
#Step 6

def calculate_cost(y_actual, y_pred):

    FP = count((y_actual == 0) & (y_pred == 1))
    FN = count((y_actual == 1) & (y_pred == 0))

    cost = (FP*5)*2 + FN*2

    return cost

#The code essentially penalizes false positives more heavily than false negatives
#when calculating the cost of a binary classification model.